.page-content {

    font-size: 16px;

    .defaultSize {
        font-size: 16px !important;
    }

    .h1_heading,
    h1 {
        font-size: 40px !important;
        font-weight: 600;
    }

    .h2_heading,
    h2 {
        font-size: 32px !important;
        font-weight: 600;
    }

    .h3_heading,
    h3 {
        font-size: 28px !important;
        font-weight: 600;
    }

    .h4_heading,
    h4 {
        font-size: 24px !important;
        font-weight: 600;
    }

    .h5_heading,
    h5 {
        font-size: 20px !important;
        font-weight: 600;
    }

    .h6_heading,
    h6 {
        font-size: 16px !important;
        font-weight: 600;
    }

    p {
        font-size: 16px !important;
    }
}

.h1_heading {
    font-size: 40px !important;
    font-weight: 600;
}

.h2_heading {
    font-size: 32px !important;
    font-weight: 600;
}

.h3_heading {
    font-size: 28px !important;
    font-weight: 600;
}

.h4_heading {
    font-size: 24px !important;
    font-weight: 600;
}

.h5_heading {
    font-size: 20px !important;
    font-weight: 600;
}

.h6_heading {
    font-size: 16px !important;
    font-weight: 600;
}